 .navbar-nav {
        color:#fff;
        font-weight: bolder;
        text-transform: uppercase;
      }
      
      
      input.ng-invalid.ng-touched{
       border: 1px solid red;
      }
      .error-border{
        border: 1px solid red;
      }
      .login-box{
        width: 700px;
        margin-top: 2%;
        margin-bottom: 8%;
        margin-left: 10%;
        padding: 20px 60px;
      }
      
      .login-box h1{
        margin-left: 16%;
        font-weight: bolder;
        margin-bottom: 10%;
        margin-top: 5%;
        color: black;
      }
      .login-box a{
        text-decoration: none;
        color: blue;
        font-size: small;
      }
      .login-box a:hover{
        color: black;
        text-decoration: none;
      } 
      .btu{
          background-image: linear-gradient(-90deg, lightblue, lightblue);
          color:black;
          padding: 15px;
          width: 40%;
          border: none;
          margin-left: 30%;
          margin-top: 3%;
         font-weight: bold;
  
      }
      input{
        border: 1px solid grey;
        background-color: white;
        color: black;
      }
      .form-control:focus {
        box-shadow: none;
        border: 1px solid #4863A0;
      }
      
      .first{
          background-image: linear-gradient(-90deg,lightblue,lightblue);
          height: 100%;
      }
      .first img{
          margin-top: 6%;
          margin-left: 6%;
      }
      .first h1{
          color: white;
          margin-top: 33%;
          margin-left: 20%;
          width: 100%;
      }
      .first p{
          color: white;
          margin-left: 15%;
          width: 100%;
          font-size: 11.5px;
      }
      .first .but{
          color: black;
         
         
           padding: 15px; 
           border:none;
           margin-left: 15%;
           margin-bottom: 10%;
           width: 50%;
      }
      #tag{
          margin-top: 20%;
          margin-left: 25%;
          margin-bottom: 8%;
      }

      #strength{
        margin-left: 5%;
      }
      .trainer{
        margin-left: 70%;
        border: 3px solid orange;
        color: black;
        background-color: white;
        padding: 13px;
        margin-top: 5%;

      }
      .trainer:hover{
        border: 2px solid crimson;
      }