
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" rouerLink="">
      <img src="/assets/images/logonew.png" height="75px" width="85px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
       </ul>
     </div>     
  </nav> 

  <div class="carol">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/assets/images/bloghome.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/photo.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/blog2.png" class="d-block w-100" alt="...">
      </div>
      
</div>

  <div class="banner">
  <div class="container">
      <h1 class="banner-title">
      <span>CONTENT MANAGEMENT SYSTEM - BLOG</span>
      </h1>
      <br>
  </div>
  </div>

<section class="about"  data-aos="fade-up">
    <div class="container">

            <div class="">
                <h2 style="color: brown;">Travel</h2>
                <img src="/assets/images/travel.jpg" width="590" class="img-fluid" alt="">
            </div>

            <div class="">
              <h2 style="color: brown;">Science and Technology</h2>
              <img src="/assets/images/sci.jpg" width="590" class="img-fluid" alt="">
          </div>

            <div class="">
              <h2 style="color: brown;">Education</h2>
            <img src="/assets/images/educationblog.jpg" width="590" class="img-fluid" alt="">
             </div>

            <div class="">
              <h2 style="color: brown;">Sports</h2>
            <img src="/assets/images/sports.jpg" width="590" class="img-fluid" alt="">
            </div>

            <div class="">
              <h2 style="color: brown;">Finance</h2>
            <img src="/assets/images/financial.png" width="590" class="img-fluid" alt="">
            </div>
   </div>

</section>
<app-footer></app-footer>
