.manage {
    max-width: 70%;
    margin-left:1cm;
    margin-top: 3%;
  }
  .navbar {
    background-image: linear-gradient(-90deg, #ff0077, #8214dc);
  }
  .navbar-nav a {
    color:white;
    font-weight: bold;
  }
  .navbar-nav a:hover {
    color: lightblue;
  }
  @media (max-width: 909px) {
    .navbar-nav .active-route {
      border-bottom: none;
    }
  }
  
  .inpu {
    margin-left:8cm;
    margin-right: 1%;
    margin-top: 7%;
  }
  .inp {
    margin-left: 50%;
    margin-top: 2%;
  }
  .form-control {
    min-width: 0;
    width: auto;
    display: inline;
  }
  .but {
    margin-left: 2%;
  }
 
  
  .active-route {
    border-bottom: 2px solid white;
  }
td.change{
  width: 1cm;
  
}

