<div>
   <div class="row">
  <div class="col-md-2 first">
        <a
          class="nav-link"
          style="margin-top: 40%; cursor: pointer"
          routerLink="/blog"
          >Blog</a
        >
        
        <a
          class="nav-link"
          style="margin-top: 3%; margin-bottom: 230%; cursor: pointer"
          (click)="logout()"
          >Logout</a
        >
      </div>
  
      <div class="col-md-10 second">
        <h1 style="margin-bottom: 3%">Root User</h1>
        <div class="row">
      </div>
         <div class="table-responsive">
          <table
            class="table table-borderless"
            id="dataTable"
            width="100%"
            cellspacing="0" >
            <thead>
              <tr class="table-info" style="color: brown;">
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Admin/User</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" style="font-weight: bold;color:rgba(0, 0, 255, 0.747);">
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <button
                    class="btn"
                    (click)="approve(user)"
                    [disabled]="user.role === 'admin'"
                  >
                    Promote as admin
                  </button>
                </td>
                <td>
                  <button
                    class="btn"
                    (click)="delete(user)"
                    [disabled]="user.role === 'user'"
                  >
                    Delete admin privilege
                  </button>
                </td>
                <td >{{ user.role }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
   </div>
  