<div>
    <div class="firstdiv">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" rouerLink="">
          <img src="/assets/images/logonew.png" height="70px" width="80px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="blog"
                routerLinkActive="active-route"
                *ngIf="blogService.getValue() || blogService.getUser()"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/managecategory"
                *ngIf="blogService.getValue()"
                > Category</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/dashboard"
                *ngIf="blogService.getValue() || blogService.getUser()"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/createpost"
                *ngIf="blogService.getValue() || blogService.getUser()"
                >Create post</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/rootuser"
                *ngIf="blogService.getRootUser()"
                >Root user</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/login"
                *ngIf="
                  !blogService.getValue() &&
                  !blogService.getUser() &&
                  !blogService.getRootUser()
                "
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/signup"
                *ngIf="
                  !blogService.getValue() &&
                  !blogService.getUser() &&
                  !blogService.getRootUser()
                "
                >Sign Up</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                style="cursor: pointer"
                (click)="logout()"
                *ngIf="
                  blogService.getValue() ||
                  blogService.getUser() ||
                  blogService.getRootUser()
                "
                >Log Out</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    <div
      class="second"
      *ngIf="
        blogService.getValue() ||
        blogService.getUser() ||
        blogService.getRootUser()
      "
    >
      <nav class="navbar navbar-expand-lg">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let category of categorys">
              <a class="nav-link" routerLink="/category/{{ category.catname }}">{{
                category.catname
              }}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    <section class="blog">
      <div>
        <div class="container">
          <div class="row">
            <div class="" *ngFor="let post of posts">
              <div class="card bg-light text-black">
                <div class="inner">
                  <h2 style="color:black">{{ post.title }}</h2>
                  <img [src]="post.image" class="img-fluid" alt="" />
                </div>
                <div class="card-body">
                  
                  <h6 style="color:green">Category : {{ post.category }}</h6>
                  <h6 style="color:green">Author : {{ post.author }}</h6>
                  <div class="card-text">
                    <p style="text-align: justify">{{ post.introduction }}....</p>
                   
  
                    <a
                      rouerLink=""
                      class="btn btn-success"
                      style="cursor: pointer"
                      (click)="update(post)"
                      *ngIf="user.email === post.email || blogService.getValue()"
                      >Update</a
                    >
                    <a
                      rouerLink=""
                      class="btn btn-danger"
                      style="margin-left: 5%; cursor: pointer"
                      (click)="delete(post)"
                      *ngIf="user.email === post.email || blogService.getValue()"
                      >Delete</a
                    >
                    <a
                      rouerLink=""
                      class="btn btn-primary"
                      style="float: right; cursor: pointer"
                      (click)="singleBlog(post)"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
  
