<section class="footer">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <h6>CONTACT</h6>
          
          
          <p>Email: blogpost@gmail.com</p>
          
        </div>
        
        <div class="col-md-4">
          <div class="social">
            
            <p>
              <i class="fa fa-facebook-official"></i
              ><a routerLink=""> Facebook</a>
            </p>
            <p><i class="fa fa-instagram"></i><a routerLink=""> Instagram</a></p>
            <p><i class="fa fa-youtube-play"></i><a routerLink=""> Youtube</a></p>
          </div>
        
        </div>
      </div>
    </div>
    <br />
    <hr />
    <p class="copyright">Copyright@ Blogpost.All Rights Reserved</p>
  </section>
  