.footer {
    background-color: rgba(59, 179, 209, 0.514);
    color: black;
    bottom: 0px;
  }
  .footer h6 {
    font-weight: bolder;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  
  .footer .social a {
    color:black;
    text-decoration: none;
  }
  .footer .social a:hover {
    color: lightblue;
  }
  .footer .social .fa {
    color:black;
  }
  .footer .social {
    margin-left: 2%;
  }
  .footer hr {
    border-color: white;
  }
  .footer .place a {
    color: white;
    text-decoration: none;
  }
  .footer .place a:hover {
    color: lightblue;
  }
  .copyright {
    text-align: center;
    margin-bottom: -80px 0;
    font-size: 15px;
    padding-bottom: 20px;
  }
  